@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Montserrat:wght@100&display=swap');

#header{
    color: #fff;
    background-color: #1f2235;
    min-height: fit-content;
    height: max-content;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right:22rem;
    padding: 3rem 0px;
}

.logo_txt{
    
    font-weight: 700;
    font-size: 30px;
}

.social_media ul{
    display: flex;
    list-style: none;
}

.social_media ul a{
    text-decoration: none;
}

.social_media ul li{
    font-size: 20px;
    margin: 0px 30px;
    transition: color .3s;
}

.social_media ul li:hover{
    color: red;
    transform: scale(1.08);
}


.me{
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 15%;
    margin-left: 10rem;
    margin-right: 10rem;
}

.about_me{
    padding: 5px 5rem;
    justify-content: center;
    text-align: center;
}

.about_me h1{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Montserrat', sans-serif;
}

.about_me h1 span{
    font-weight: 700;
    color:red;
}

.type{
    font-size: 30px;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.para p{
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.img{
    border-bottom: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:380px;
    width: 380px;
}

.img_profile{
    height:90%;
    width: 90%;
    background-image: url(../../assests/casual.jpg);
    background-size: cover;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

.img_profile:hover{
    transform: scale(1.08);
}

.btn{
    margin-top: 2rem;
}

.resume{
    width: 8rem;
    padding: 10px 10px;
    border: 2px solid red;
    border-radius: 10rem;
    background-color: red;
    font-weight: 700;
    color:#eee;
    transition: all .3s ease;
}

.resume:hover{
    border: 2px solid red;
    background-color: #eee;
    color:rgb(146, 26, 26);
}

.hire{
    width: 8rem;
    padding: 10px 10px;
    border: 2px solid #eee;
    border-radius: 10rem;
    background-color: #1f2235;
    font-weight: 700;
    color:#eee;
    margin-right: 8px;
    transition: all .3s ease;
}

.hire:hover{
    border: 2px solid red;
    background-color: #eee;
    color:rgb(146, 26, 26);
}

#header img{
    width: 100%;
}

.about_me ul{
    margin-left: 2rem;
    list-style: none;
    display: flex;
}

.about_me  ul li{
    padding:0 5px;
}


@media screen and (max-width: 1024px) {

#header{
    width: 100%;
}

.me{
    margin: 0;
    gap: 0%;
}

.social_media ul{
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    justify-content: space-between;
}
}



@media screen and (max-width:750px)
{
    .social_media{
        position: absolute;
        right: 2%;
    }

    .social_media ul li{
        margin: 0;
    }

    .header_nav{
        padding-bottom: 0rem;
    }

    .logo_txt{
        margin-right: 0px;
    }

    .me{
    grid-template-columns: 1fr;
    margin-left: 0rem;
    margin-right: 0rem;
}

.about_me{
    padding: 5px 1rem;
    justify-content: center;
    text-align: center;
}

.img{
    margin-left: 10%;
    border-bottom: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:300px;
    width: 300px;
}

.img_profile{
    height:90%;
    width: 90%;
    background-image: url(../../assests/casual.jpg);
    background-size: cover;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

.about_me ul{
    margin-left: 1rem;
    list-style: none;
    display: flex;
}

}
